{% extends "layout.html" %}


{% block main %}

<a class="btn_2" href="/admin"><span style="height: 1.35em; margin-right: 5px;">⪦</span>MENU ADMIN</a>

<h1>REVENTES EN ATTENTE</h1>

{% if reventes %}
<div class="conteneur_4">

    <table id="details" class="table_1">
        {% include '/admin/reventes/_show_details.html' %}
    </table>

    <div class="line"></div>

    <div class="conteneur_7">
        <table class="table_2">
            <thead>
                <tr>
                    <th>Opérations</th>
                    <th>ID</th>
                    <th>Etat</th>
                    <th>Membre</th>
                    <th>Carte</th>
                    <th>Prix total</th>
                    <th>Date de Revente</th>
                </tr>
            </thead>
            <tbody>
                {% for revente in reventes %}
                <tr onclick="refreshReventes({{ revente['id_revente'] }})">
                    <td class="conteneur_4">
                        {% if revente.etat_id == 1 %}
                        <form action="/admin/reventes/valid" method="POST" class="conteneur_6">
                            <button class="btn_3 btn_green">Valider</button>
                            <input type="hidden" name="id_revente" value="{{ revente.id_revente }}">
                        </form>

                        <form action="/admin/reventes/cancel" method="POST" class="conteneur_6">
                            <button class="btn_3 btn_red">Annuler</button>
                            <input type="hidden" name="id_revente" value="{{ revente.id_revente }}">
                        </form>
                        {% endif %}
                    </td>
                    <td>{{ revente['id_revente'] }}</td>
                    <td style = "color:
                        {% if revente.etat_id == 1 %}
                        cyan
                        {% elif revente.etat_id == 2 %}
                        green
                        {% else %}
                        red
                        {% endif %};">
                        {{ revente['libelle_etat'] }}
                    </td>
                    <td>{{ revente['nom_membre'] }}</td>
                    <td>{{ revente['nom_carte'] }}</td>
                    <td>{{ revente['prix_revente'] }}<span class="emoji gold"></span></td>
                    <td>{{ revente['date_revente'].strftime('%d/%m/%Y - %Hh%M') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %}
    <div class="conteneur_1">
        <div class="line"></div>
        <h5>Aucune revente pour le moment</h5>
    </div>
    {% endif %}
</div>
{% endblock %}



{% block js %}
<!-- Gère l'affichage dynamique de la revente sélectionnée -->
<script src="/static/styles/js/refreshCommandesAdmin.js"></script>

<!-- Gère l'affichage dynamique de la revente sélectionnée -->
<script src="/static/styles/js/refreshCommandesEtat.js"></script>
{% endblock %}