{% extends "layout.html" %}

{% block css %}

{% endblock %}



{% block main %}
<h1>Nous contacter</h1>
<div class="conteneur_5">
    <h2>Préambule</h2>
    <h10>
        Vous pouvez nous contacter pour toute question concernant le site, votre compte ou le fonctionnement des services. <br><br>

        Les motifs de contact peuvent notamment être : <br>

        <ul>
            <li>signaler un bug ou un dysfonctionnement ;</li>
            <li>demander de l'aide concernant votre compte ;</li>
            <li>signaler un problème avec une commande ;</li>
            <li>exercer vos droits concernant vos données personnelles ;</li>
            <li>demander la suppression de votre compte ;</li>
            <li>toute autre question relative au site.</li>
        </ul>
    </h10>

    <br>



    <h2>Nous contacter</h2>
    <h10>
        Adresse e-mail : <a href="mailto:golden.ark.contact@gmail.com"><h9>golden.ark.contact@gmail.com</h9></a> <br><br>

        Vous pouvez également nous contacter via le serveur Discord de la communauté. <br><br>

        Nous nous efforçons de répondre dans les meilleurs délais.
    </h10>
</div>
{% endblock %}