{% extends "layout.html" %}


{% block css %}

{% endblock %}



{% block main %}
<h1>Mentions légales</h1>
<div class="conteneur_5">
    <h2>Éditeur du site</h2>
    <h10>
        Le présent site est édité et administré par : <br><br>

        Responsable du site : Izaar (*) <br>
        Directeur de la publication : Izaar (*) <br> 
        Adresse e-mail : <a href="mailto:golden.ark.contact@gmail.com"><h9>golden.ark.contact@gmail.com</h9></a> <br><br>

        * Ceci est un pseudonyme
    </h10>
    
    <br>


    <h2>Hébergement</h2>
    <h10>
        Le site est hébergé sur un serveur privé administré par l'équipe du projet. <br><br>

        Pour toute question concernant l'hébergement, vous pouvez contacter : <br><br>

        Contact : <a href="mailto:golden.ark.contact@gmail.com"><h9>golden.ark.contact@gmail.com</h9></a> <br><br>
    </h10>
    
    <br>



    
    <h2>Objet du site</h2>
    <h10>
        Ce site a pour unique objectif de fournir des fonctionnalités complémentaires aux membres de la communauté du serveur ARK et du serveur Discord associés. <br><br>

        Le site permet notamment : <br>

        <ul>
            <li>la gestion des comptes utilisateurs ;</li>
            <li>la consultation du solde de gold virtuel ;</li>
            <li>la gestion des commandes effectuées avec le gold virtuel ;</li>
            <li>la consultation de l'historique des commandes ;</li>
            <li>la gestion de la revente d'objets du jeu.</li>
        </ul>

        Le gold est une monnaie virtuelle propre à la communauté. Il ne possède aucune valeur monétaire, ne peut pas être acheté avec de l'argent réel et ne peut pas être converti en argent réel.
    </h10>
    
    <br>



    <h2>Propriété intellectuelle</h2>
    <h10>
        Sauf indication contraire, les contenus présents sur ce site (textes, éléments graphiques, logos, code source appartenant au projet, etc.) sont la propriété de leurs auteurs respectifs. <br><br>

        Toute reproduction, modification ou diffusion sans autorisation est interdite.<br><br>

        Les marques, jeux vidéo et contenus appartenant à des tiers demeurent la propriété de leurs titulaires respectifs.
    </h10>
    
    <br>



    <h2>Contact</h2>
    <h10>
        Pour toute question concernant le site, son fonctionnement ou vos données personnelles, vous pouvez nous contacter à l'adresse suivante : <br><br>

        <a href="mailto:golden.ark.contact@gmail.com"><h9>golden.ark.contact@gmail.com</h9></a>
    </h10>
    
    <br><br>



    <h2>Dernière mise à jour</h2>
    <h10>
        Dernière mise à jour : 01/07/2026
    </h10>
</div>
{% endblock %}