{% extends "layout.html" %}

{% block css %}

{% endblock %}



{% block main %}
<h1>Suppression du compte</h1>
<div class="conteneur_5">
    <h10>
        Vous pouvez demander à tout moment la suppression de votre compte et des données personnelles qui y sont associées. <br><br>

        Pour effectuer cette demande, veuillez nous contacter à l'adresse suivante : <br><br>

        Adresse e-mail : <a href="mailto:golden.ark.contact@gmail.com"><h9>golden.ark.contact@gmail.com</h9></a> <br><br>

        Vous pouvez également nous contacter via le serveur Discord de la communauté. <br><br>

        Afin de protéger votre compte, nous pourrons vous demander de confirmer votre identité avant de procéder à la suppression. <br><br>

        Après validation de votre demande, votre compte ainsi que les données personnelles associées seront supprimés dans un délai raisonnable, sous réserve des obligations légales ou des nécessités techniques, notamment celles liées aux sauvegardes automatiques du serveur. <br><br>

        Pour toute question concernant cette procédure, n'hésitez pas à nous contacter.
    </h10>
</div>
{% endblock %}