{% extends "layout.html" %}

{% block main %}
<a class="btn_2" href="/admin"><span style="height: 1.35em; margin-right: 5px;">⪦</span>MENU ADMIN</a>

<h1>Paramètres</h1>

<div class="conteneur_1">

    {% if settings %}
    <div class="conteneur_7">
        <table class="table_1">
            <thead>
                <tr>
                    {% for setting in settings %}
                        <th>{{ setting }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for setting in settings %}
                    <td>{{ settings[setting] }}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}
</div>


<a class="btn_1 btn_blue" href="/admin/settings/edit">Modifier</a>

{% endblock %}